.box {
  height: 250px;
  width: 250px;
  background-color: gray;
  position: absolute;
  left: 20px;
  left: 0;
  top: 0;
  animation-name: position_movement;
  animation-fill-mode:both; 
  animation-timing-function: ease-in-out;
  animation-duration: 6s; 
  animation-direction: alternate-reverse;
  animation-iteration-count:infinite; 
   animation-range: 10% 50%;
}
.box:active {
  animation: position_movement both ease-in-out 6s; 
}
@keyframes position_movement {
  from {
    left: 0;
  }
  to {
    left: calc(50% - 250px);
  }
}

 @keyframes petroling_movement {
  50% {
    left: 0;
    top: 0;
  }
  
}

 .pulse {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: red;
  margin: 8em;
  animation: pulse 1s infinite alternate;
} 

 @keyframes pulse { 
 from { 
 height: 75px;
    width: 75px; 
 transform: scale(2); 
 }
  to {
    transform: scale(0.5); 
 height: 125px;
    width: 125px; 
 }
} 

 .box-2 {
  height: 250px;
  width: 250px;
  background-color: gray;
  position: absolute;
  right: 20px;
  right: 0;
  top: 0;
  animation-name: position_movement-1;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-duration: 6s; 
   /* animation-delay: 6s;  */
  animation-direction: alternate-reverse;
  animation-iteration-count:infinite; 
   animation-range: 10% 50%;
}
.box-2:active {
  animation: position_movement-1 both ease-in-out 6s;
}
@keyframes position_movement-1 {
  from {
    right: 0;
  }
  to {
    right: calc(50% - 250px);
  }
}

@keyframes petroling_movement-1 {
  0% {
    right: 0;
    top: 0;
  }
  25% {
   right: calc(100% - 250px);
    top: 0;
  }
  50% {
    right: calc(100% - 250px);
    top: calc(100% - 250px);
  }
  75% {
    top: calc(100% - 250px);
    right: 0;
  }
}

 .pulse {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: red;
  margin: 8em;
  animation: pulse 1s infinite alternate;
} 

 @keyframes pulse { 
 from { 
 height: 75px;
    width: 75px; 
 transform: scale(2); 
 }
  to {
    transform: scale(0.5); 
 height: 125px;
    width: 125px; 
 } 
}  

  }
}
